DJANGO_ENV=local
DEBUG=true
SECRET_KEY=change-me

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=renblood_mongo_staging

ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

API_KEY_RENBLOOD=change-me
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_ROLE_ID=
FRONTEND_URL=http://localhost:5173
