DJANGO_ENV=production
DEBUG=false
SECRET_KEY=change-me

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=renblood_mongo

ALLOWED_HOSTS=api.example.com
CORS_ALLOWED_ORIGINS=https://example.com

API_KEY_RENBLOOD=change-me
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_ROLE_ID=
FRONTEND_URL=https://example.com
