django
django-cors-headers
djongo==1.3.6
dnspython
pymongo
gunicorn  # Pour le déploiement sur Render
python-dotenv
pytz
pymongo==3.12.3  # Version compatible avec Djongo
psycopg2
dotenv
djangorestframework
